<%- include('head') -%>
<%- include('header') -%>
<main class="forum-main main-background">
    <h1>Forum</h1>
    <section class="create-salon">
    <%  if (locals.isLogged === true){ %>     
        <div class=addForum>
            <p>Vous ne trouvez pas votre bonheur ?</p>
            <button class="showAddForumForm">Créer un salon !</button></p>
        </div>
        
        
        <form method="post" class="salonForm display-none" action="/addSalon">
            <div>
                <label for="intitule">De quoi voulez vous parlez ?</label>
                <input type="text" name="intitule" id="intitule" required>     
            </div>
            <div>
                <button type="submit">Créer le salon !</button>
            </div>
        </form>
    <% } else { %>
        <div class=notConnected>
            <p>Vous devez vous connecter pour créer un salon.</p>
            <a class="forumConnexion no-decoration" href=/login>Se connecter !</a>
        </div>
    <% } %>
    </section>
    <section class="section-forum">
    <%for (const salon of forum){%>
        <form method="post" action=/deleteSalon>
            <div>
                <a class='list-forum salonForum no-decoration' href=forum/<%= salon.id %>>
                    <div class="list-forum-image for-PC"><img class=image-profil src="images/profil/<%=salon.image%>" alt="Image de profil de l'utilisateur ayant créer le salon"></div>
                    <div class="list-forum-infos">
                        <div class="list-forum-infos-detail">
                            <h3 class=nomSalon><%=salon.intitule%></h3>
                            <p class=nomCreateur>Créer par <%= salon.login %></p>
                        </div>
                        <div class="list-forum-infos-detail">
                            <p class=dateCreation>Créer le <%= salon.date %></p>
                            <p class="dernierMessage for-PC">Dernier message le <%= salon.derniereUpdate %></p>
                            <p class="nbMessage for-mobile"><%= salon.nbMessages %> messages</p>
                        </div>
                    </div>
                    <div class="list-forum-nbMessages" id="for-PC">
                        <p><%= salon.nbMessages %></p>
                        <p>messages</p>
                    </div>
                    
                    
                    
                   
                </a>
                
                <%  if (locals.role === "admin" || locals.role === "superadmin" || locals.role === "moderateur"){ %> 
                    <div class=button-salon>
                        <button class="edit-button-forum">Modifier le nom du salon</button>
                        <button class="save-button-forum display-none" data-id="<%= salon.id %>">Valider</button>
                        <button type=submit>Supprimer le salon</button>
                        <input type="hidden" class="display-none" name="id" value="<%= salon.id %>">
                    </div>
                <% } %>
            
            
    
            </div>
        </form> 
        
    <% } %>
    </section>
    
</main>
<script src="/jsScript/forumScript.js"></script>
<%- include('footer') -%>