<%- include('head') -%>
<%- include('header') -%>
<main class="index-main">
  <div class="iframe">
      
  <iframe class="for-mobile" src="https://www.youtube.com/embed/videoseries?si=suy5xyKZOgxDk-j3&amp;controls=0&amp;autoplay=0&amp;mute=1&amp;list=PLHXUP8gjVgR4Xn3xAFKOO9v-11DKGpK6D" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  
    </div>
    <% if (locals.isLogged) { %>
        <p><%(locals.grade)%></p>
    <% } %>
    <h1>Projet Halo</h1>
    
    <section class=section-shop>
        <a href="/shop">
            <h2>Dernier article de la boutique</h2>
            <div class=section-gauche-div>
                <div>
                    <img src="/images/boutique/haloBoutiqueTest.png" alt="" />
                </div>
                <div>
                    <h3>Super nouveau produit</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales mi id ante maximus, id faucibus libero congue. Pellentesque id augue sit amet nulla rhoncus commodo quis vitae metus. Integer at dui tellus. Nulla molestie, mauris vitae pretium commodo, turpis nisi cursus purus, sit amet ultrices nibh urna ut odio. Nulla eget purus lacus. In tempor augue in ipsum molestie egestas. Donec consectetur faucibus pellentesque. Vivamus et lobortis mauris, vitae luctus lectus.</p>
                </div>
                <div>
                    <button>En savoir plus</button>
                </div>
            </div>
        </a>
    </section>
    
    <section class=section-news>
        <a href="/news">
            <h2>Dernière news</h2>
            <div class=section-droite-div>
                <div>
                    <img src="/images/boutique/haloBoutiqueTest.png" alt="" />
                </div>
                <div>
                    <h3>Super dernière nouvelle</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales mi id ante maximus, id faucibus libero congue. Pellentesque id augue sit amet nulla rhoncus commodo quis vitae metus. Integer at dui tellus. Nulla molestie, mauris vitae pretium commodo, turpis nisi cursus purus, sit amet ultrices nibh urna ut odio. Nulla eget purus lacus. In tempor augue in ipsum molestie egestas. Donec consectetur faucibus pellentesque. Vivamus et lobortis mauris, vitae luctus lectus.</p>
                </div>
                <div>
                    <button>En savoir plus</button>
                </div>
            </div>
        </a>
    </section>
    
    <section class=section-forum>
        <a href="/forum/<%=salonJour.id%>">
            <h2>Forum du jour</h2>
            <div>
                <h3><%=salonJour.intitule%></h3>
                <p>Créer par <%=salonJour.login%> le <%=salonJour.date%></p>
            </div>
            <p><%=salonJour.premierMessage%></p>
            
            <button>Aller sur le forum</button>
        </a>
    </section>
    
    <section class=section-jeux>
        <a href="/jeux">
            <h2>Histoire</h2>
            <div class=section-gauche-div>
                <div>
                    <img src="/images/boutique/haloBoutiqueTest.png" alt="" />
                </div>
                <div>
                    <h3>Découvrir l'histoire</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales mi id ante maximus, id faucibus libero congue. Pellentesque id augue sit amet nulla rhoncus commodo quis vitae metus. Integer at dui tellus. Nulla molestie, mauris vitae pretium commodo, turpis nisi cursus purus, sit amet ultrices nibh urna ut odio. Nulla eget purus lacus. In tempor augue in ipsum molestie egestas. Donec consectetur faucibus pellentesque. Vivamus et lobortis mauris, vitae luctus lectus.</p>
                </div>
                <div>
                    <button>En savoir plus</button>
                </div>
            </div>
        </a>
    </section>
    
</main>
<script src="/js/script/script.js"></script>
<%- include('footer') -%>