<%- include('head') -%>
<%- include('header') -%>
<main class="index-main">
  <div class="video">
      
    <video class="for-mobile" autoplay loop muted duration="522">
        <source src="/video/bg-mobile.webm" type="video/webm">
        Votre navigateur ne supporte pas la lecture de vidéos.
    </video>
    <video class="for-PC" autoplay loop muted>
        <source  src="/video/bg-PC.webm" type="video/webm">
        Votre navigateur ne supporte pas la lecture de vidéos.
    </video>

    
    </div>
    <% if (locals.message1) { %>
        <p class="index-messages"><%=locals.message2%></p>
    <% } %>
    <% if (locals.isLogged) { %>
        <div class="index-div-messages"> 
            <p class="index-messages"><%=locals.grade%></p>
        </div>
    <% } %>
    
    <div class="fixed-container">
        <div class="fixed-elements">
            <img class=for-PC src="/images/site/HUD.png" alt="Image d'un HUD ressemblant aux jeux Halos" />
            <h1 class="h1-animation h1-animation-hide">Projet Halo</h1>
        </div>
    </div>
    
    <section class=section-shop>
        
            <h2>Dernier article de la boutique</h2>
            <div>
                <div>
                    <img src="/images/boutique/boutiqueProchainement.jpg" alt="Image d'un super soldat (le Masterchief) avec des marines et des warthogs en fond. Les soldats transportent des caisses" />
                </div>
                <div>
                    <h3>Boutique à venir</h3>
                    <p>Actuellement, notre boutique n'est pas encore opérationnelle, mais nous travaillons activement pour créer une expérience d'achat en ligne exceptionnelle. Nous nous efforçons de vous proposer bientôt une sélection de produits de qualité qui sauront répondre à vos attentes. Merci de votre compréhension et de votre patience pendant cette phase de développement.</p>
                </div>
                <div>
                    <a href="/shop">En savoir plus</a>
                </div>
            </div>
        
    </section>
    
    <section class=section-news>
        
            <h2>Dernière news</h2>
            <div>
                <div>
                    <img src="/images/news/<%=results[1].image%>" alt="Image d'illustration pour la news <%=results[1].titre%>" />
                </div>
                <div>
                    <h3><%=results[1].titre%></h3>
                    <p><%=results[1].intro%></p>
                </div>
                <div>
                    <a href="/news/<%=results[1].id%>">En savoir plus</a>
                </div>
            </div>
        
    </section>
    
    <section class=section-forum>
        
            <h2>Forum du jour</h2>
            <div>
                <h3><%=results[0].intitule%></h3>
                <p>Créer par <%=results[0].login%> le <%=results[0].date%></p>
            </div>
            <p><%=results[0].premierMessage%></p>
            
            <a href="/forum/<%=results[0].id%>">Aller sur le forum</a>
        
    </section>
    
    <section class=section-jeux>
        
            <h2>Histoire</h2>
            <div>
                <div>
                    <img src="/images/jeux/listJeux.webp" alt="Image avec toutes les jaquettes des jeux Halos" />
                </div>
                <div>
                    <h3>Découvrir l'histoire</h3>
                    <p>Explorez l'univers fascinant d'Halo, une saga de jeu vidéo débutée en 2001 par Bungie. Suivez le Master Chief, super-soldat Spartan, dans sa quête héroïque contre l'Alliance Covenante. Entre des mondes extraordinaires, des ennemis redoutables et les mystères d'un anneau extraterrestre, plongez dans une expérience de jeu qui marie habilement action frénétique et récit épique.</p>
                </div>
                <div>
                    <a href="/jeux">En savoir plus</a>
                </div>
            </div>
        
    </section>
    
    
    <div class="divButtonRemonter">
        <button class="buttonRemonter" id="scrollToTopButton">⇧</button>
    </div>
</main>
<script src="/jsScript/indexScript.js"></script>
<%- include('footer') -%>