<%- include('head') -%>
<%- include('header') -%>

<main class=listUsers-main>
    <% if (locals.message) { %>
        <p><%= message %></p>
    <% } %>

    <h1>Liste des membres</h1>

    <h2>Il y en a <%= listUsers.length %>.</h2>
    <form action="/deleteUsersList" method="post">
        <table class=table-list-users>
            <thead>
                <tr>
                    <th class=table-list-checkbox></th>
                    <th class=table-list-login>Login</th>
                    <th class='for-PC table-list-email'>Email</th>
                    <th class='for-PC table-list-date'>Date de création</th>
                    <th class='for-PC table-list-image'>Image de profil</th>
                    <th class=table-list-role>Role</th>
                    <th class=table-list-password>Mot de passe</th>
                    <th class='for-mobile-button table-list-button'></th>
                </tr>
            </thead>
            <tbody>
                <% for (const user of listUsers) { %>
                    <tr class="user-id" data-id="<%= user.id %>" data-login="<%= user.login %>">
                      <%  if (locals.role !== 'superadmin' && (user.role === 'superadmin' || user.role === 'admin')){ %>
                        
                        <td class='user-checkbox'>
                            <input class='checkbox' type="checkbox" value="<%= user.id %>" name="usersToDelete" disabled="disabled"/>
                        </td>
                    
                    <% } else { %>
                    
                    <td class='user-checkbox'>
                        <input class='checkbox' type="checkbox" value="<%= user.id %>" name="usersToDelete" />
                    </td>
                    <% } %>
                        
                        <td class="user-login"><%= user.login %></td>
                        <td class="user-email for-PC" ><%= user.email %></td>
                        <td class="user-date for-PC"><%= user.date %></td>
                        <td class="user-image for-PC">
                            <img class='user-image-update' src='images/profil/<%= user.image %>' style='width: 50px;'>
                            <input class="input display-none" type="file" name="image" accept="image/*" maxSize="5MB">
                        </td>
                        <td class="user-role"><%= user.role %></td>
                        <td class="user-password">
                            <span class="password-masked">••••••••</span>
                            <input class="password-input display-none" type="password" class="password-input display-none">
                        </td>
                        
                            <%  if (locals.role !== 'superadmin' && (user.role === 'superadmin' || user.role === 'admin')){ %>
                        <td></td>
                    <% } else { %>
                        <td>
                            <button class="edit-button" type="button" value="<%= user.id %>">Modifier</button>
                            <button class="save-button display-none" type="button">Valider</button>
                        </td>
                    <% } %>
                            
                            
                    </tr>
                <% } %>
            </tbody>
        </table>
        <button type="submit" class=deleteUsers>Supprimer les lignes sélectionnées</button>
    </form>

    <h2>Ajouter un nouveau membre manuellement</h2>
    <form class=form-addUser method="post" enctype="multipart/form-data"
    
    <%  if (rolebool===false){ %>
        action="/register" >
    <% } else { %>
        action="/registerRole">
    <% } %>
        <div>
            <label for="pseudo">Login : </label>
            <input type="text" name="pseudo" id="pseudo">
        </div>
        <div>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Mot de passe : </label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="image">Image de profil (max 5 Mo) :</label>
            <input type="file" name="image" id="image" accept="image/*" maxSize="5MB">
        </div>
        
       <%  if (rolebool===true) { %>
                        
                    
        <div class="row">            
                <label for="role">Role :</label>
                <select name="role" id="role">
                    <option value="moderateur">Modérateur</option>
                    <option value="admin">Admin</option>
                    <option value="productmanager">Product Manager</option>
                    <option value="redacteur">Redacteur</option>
                        <%  if (locals.role === 'superadmin' ){ %>
                            <option value="superadmin">SuperAdmin</option>
                        <% } %>
                </select>
            </div>
            <% } %>
        <div>
            <button class="buttonAddUsers" type="submit">Ajouter</button>
        </div>
    </form>

    <script>
        const editButtons = document.querySelectorAll('.edit-button');
        const saveButtons = document.querySelectorAll('.save-button');

        editButtons.forEach((editButton) => {
            editButton.addEventListener('click', () => {
                const row = editButton.closest('tr');
                const login = row.querySelector('.user-login');
                const email = row.querySelector('.user-email');
                const date = row.querySelector('.user-date');
                const image = row.querySelector('.user-image');
                const imageUpdate = row.querySelector('.user-image-update');
                const role = row.querySelector('.user-role'); // Sélectionnez le champ de rôle actuel
                const roleValue = role.textContent; // Récupérez la valeur actuelle du rôle
                const passwordSpan = row.querySelector('.user-password .password-masked');
                const password = row.querySelector('.user-password .password-input');

                const loginInput = document.createElement('input');
                loginInput.type = 'text';
                loginInput.value = login.textContent;
                login.textContent = '';
                login.appendChild(loginInput);

                const emailInput = document.createElement('input');
                emailInput.type = 'email';
                emailInput.value = email.textContent;
                email.textContent = '';
                email.appendChild(emailInput);

                // Désactivez le champ de date
                const dateInput = row.querySelector('.user-date');
                dateInput.setAttribute('readonly', true);

                // Rendre le champ d'image visible
                const imageInput = row.querySelector('.user-image input');
                imageInput.classList.add('display-block');
                imageInput.classList.remove('display-none');
                imageUpdate.classList.add('display-none');
                imageUpdate.classList.remove('display-block');
                
                role.innerHTML = `<select name="role">
                    <option value="moderateur">Modérateur</option>
                    <option value="admin">Administrateur</option>
                    <%  if (locals.role === 'superadmin' ){ %>
                            <option value="superadmin">SuperAdmin</option>
                    <% } %>
                    <option value="productmanager">Product Manager</option>
                    <option value="redacteur">Rédacteur</option>
                    <option value="utilisateur">Utilisateur</option>
                </select>`;
                role.querySelector('select').value = roleValue;

                // Afficher le champ de mot de passe en mode édition
                passwordSpan.classList.add('display-none');
                passwordSpan.classList.remove('display-block');
                password.classList.add('display-block');
                password.classList.remove('display-none');

                editButton.classList.add('display-none');
                editButton.classList.remove('display-block');
                row.querySelector('.save-button').classList.add('display-block');
                row.querySelector('.save-button').classList.remove('display-none');
            });
        });

        saveButtons.forEach((saveButton) => {
            saveButton.addEventListener('click', () => {
                // Récupérez les données modifiées depuis les champs de texte
                const row = saveButton.closest('tr');
                const id = row.getAttribute('data-id');
                const loginInput = row.querySelector('.user-login input');
                const emailInput = row.querySelector('.user-email input');
                const imageInput = row.querySelector('.user-image input');
                const roleSelect = row.querySelector('.user-role select'); // Sélectionnez le menu déroulant de rôle
                const passwordInput = row.querySelector('.user-password .password-input');
                
                const formData = new FormData();
                
                formData.append('image', imageInput.files[0]);
                formData.append('id', id);
                formData.append('login', loginInput.value);
                formData.append('email', emailInput.value);
                formData.append('role', roleSelect.value);
                formData.append('password', passwordInput.value);
                
                fetch('/updateUser', {
                    method: 'POST',
                    body: formData,
                })
                    .then((response) => response.json())
                    .then((data) => {
                        // Traitez la réponse du serveur (par exemple, affichez un message de succès)
                        console.log("Récupération réussie");
                        window.location.reload()
                    })
                    .catch((error) => {
                        // Gérez les erreurs (par exemple, affichez un message d'erreur)
                        console.error('Erreur lors de la mise à jour :', error);
                    });
            });
        });
    </script>
</main>
<%- include('footer') -%>
