<%- include('head') -%>
<%- include('header') -%>

<main>
    <% if (locals.message) { %>
        <p><%= message %></p>
    <% } %>

    <h1>Liste des membres</h1>

    <h2>Il y en a <%= listUsers.length %>.</h2>
    <form action="/deleteUsersList" method="post">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Login</th>
                    <th>Email</th>
                    <th>Date de création</th>
                    <th>Image de profil</th>
                    <th>Role</th>
                    <th>Mot de passe</th>
                </tr>
            </thead>
            <tbody>
                <% for (const user of listUsers) { %>
                    <tr class="user-id" data-id="<%= user.id %>" data-login="<%= user.login %>">
                        <td><input type="checkbox" value="<%= user.login %>" name="usersToDelete" /></td>
                        <td class="user-login"><%= user.login %></td>
                        <td class="user-email"><%= user.email %></td>
                        <td class="user-date"><%= user.date %></td>
                        <td class="user-image">
                            <img class='user-image-update' src='images/profil/<%= user.image %>' style='width: 50px;'>
                            <input type="file" name="image" accept="image/*" maxSize="5MB" style="display: none;">
                        </td>
                        <td class="user-role"><%= user.role %></td>
                        <td class="user-password">
                            <span class="password-masked">••••••••</span>
                            <input type="password" class="password-input" style="display: none;">
                        </td>
                        <td>
                            <button class="edit-button" type="button" value="<%= user.login %>">Modifier</button>
                            <button class="save-button" type="button" style="display: none;">Valider</button>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <button type="submit">Supprimer les lignes sélectionnées</button>
    </form>

    <h2>Ajouter un nouveau membre manuellement</h2>
    <form method="post" action="/register" enctype="multipart/form-data">
        <div>
            <label for="pseudo">Login : </label>
            <input type="text" name="pseudo" id="pseudo">
        </div>
        <div>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Mot de passe : </label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="image">Image de profil (max 5 Mo) :</label>
            <input type="file" name="image" id="image" accept="image/*" maxSize="5MB">
        </div>
        <div>
            <button type="submit">Ajouter</button>
        </div>
    </form>

    <script>
        const editButtons = document.querySelectorAll('.edit-button');
        const saveButtons = document.querySelectorAll('.save-button');

        editButtons.forEach((editButton) => {
            editButton.addEventListener('click', () => {
                const row = editButton.closest('tr');
                const login = row.querySelector('.user-login');
                const email = row.querySelector('.user-email');
                const date = row.querySelector('.user-date');
                const image = row.querySelector('.user-image');
                const imageUpdate = row.querySelector('.user-image-update');
                const role = row.querySelector('.user-role'); // Sélectionnez le champ de rôle actuel
                const roleValue = role.textContent; // Récupérez la valeur actuelle du rôle
                const passwordSpan = row.querySelector('.user-password .password-masked');
                const password = row.querySelector('.user-password .password-input');

                const loginInput = document.createElement('input');
                loginInput.type = 'text';
                loginInput.value = login.textContent;
                login.textContent = '';
                login.appendChild(loginInput);

                const emailInput = document.createElement('input');
                emailInput.type = 'email';
                emailInput.value = email.textContent;
                email.textContent = '';
                email.appendChild(emailInput);

                // Désactivez le champ de date
                const dateInput = row.querySelector('.user-date');
                dateInput.setAttribute('readonly', true);

                // Rendre le champ d'image visible
                const imageInput = row.querySelector('.user-image input');
                imageInput.style.display = 'block';
                imageUpdate.style.display = 'none';
                
                role.innerHTML = `<select name="role">
                    <option value="modo">Modérateur</option>
                    <option value="admin">Administrateur</option>
                    <%  if (locals.role === 'superadmin' ){ %>
                            <option value="superadmin">SuperAdmin</option>
                    <% } %>
                    <option value="productmanager">Product Manager</option>
                    <option value="redacteur">Rédacteur</option>
                    <option value="utilisateur">Utilisateur</option>
                </select>`;
                role.querySelector('select').value = roleValue;

                // Afficher le champ de mot de passe en mode édition
                passwordSpan.style.display = 'none';
                password.style.display = 'block';

                editButton.style.display = 'none';
                row.querySelector('.save-button').style.display = 'block';
            });
        });

        saveButtons.forEach((saveButton) => {
            saveButton.addEventListener('click', () => {
                // Récupérez les données modifiées depuis les champs de texte
                const row = saveButton.closest('tr');
                const id = row.getAttribute('data-id');
                const lastLogin = row.getAttribute('data-login');
                const loginInput = row.querySelector('.user-login input');
                const emailInput = row.querySelector('.user-email input');
                const imageInput = row.querySelector('.user-image input');
                const roleSelect = row.querySelector('.user-role select'); // Sélectionnez le menu déroulant de rôle
                const passwordInput = row.querySelector('.user-password .password-input');
                
                const formData = new FormData();
                
                formData.append('image', imageInput.files[0]);
                formData.append('id', id);
                formData.append('lastLogin', lastLogin);
                formData.append('login', loginInput.value);
                formData.append('email', emailInput.value);
                formData.append('role', roleSelect.value);
                formData.append('password', passwordInput.value);
                
                fetch('/updateUser', {
                    method: 'POST',
                    body: formData,
                })
                    .then((response) => response.json())
                    .then((data) => {
                        // Traitez la réponse du serveur (par exemple, affichez un message de succès)
                        console.log("Récupération réussie");
                        window.location.reload()
                    })
                    .catch((error) => {
                        // Gérez les erreurs (par exemple, affichez un message d'erreur)
                        console.error('Erreur lors de la mise à jour :', error);
                    });
            });
        });
    </script>
</main>
<%- include('footer') -%>
