<%- include('head') -%>
<%- include('header') -%>

<main class="listUsers-main main-background">
    <% if (locals.message1) { %>
        <p class="invalid listUsers-message"><%= locals.message1 %></p>
    <% } %>

    <h1>Liste des membres</h1>
        <form class="listUsers-formSearch" method="post" action="/searchMember">
        <div>
            <label for="searchMember">Chercher un membre :</label>
            <input type="searchMember" name="searchMember" id="searchMember" required>
        </div>
        <button class=listUsers-button type="submit">Rechercher</button>
    </form>

    <h2>Il y en a <%= listUsers.length %>.</h2>
    <form action="/deleteUsersList" method="post">
        <table class=table-list-users>
            <thead>
                <tr>
                    <th class=table-list-checkbox></th>
                    <th class=table-list-login>Login</th>
                    <th class='for-PC-table table-list-email'>Email</th>
                    <th class='for-PC-table table-list-date'>Date de création</th>
                    <th class='for-PC-table table-list-image'>Image de profil</th>
                    <th class=table-list-role>Role</th>
                    <th class=table-list-password>Mot de passe</th>
                    <th class='for-mobile-button table-list-button'></th>
                </tr>
            </thead>
            <tbody>
                <% for (const user of listUsers) { %>
                    <tr class="user-id" data-id="<%= user.id %>" data-login="<%= user.login %>">
                      <%  if (locals.role !== 'superadmin' && (user.role === 'superadmin' || user.role === 'admin')){ %>
                        
                        <td class='user-checkbox'>
                            <input class='checkbox' type="checkbox" value="<%= user.id %>" name="usersToDelete" disabled="disabled"/>
                        </td>
                    
                    <% } else { %>
                    
                    <td class='user-checkbox'>
                        <input class='checkbox' type="checkbox" value="<%= user.id %>" name="usersToDelete" />
                    </td>
                    <% } %>
                        
                        <td class="user-login td-update"><%= user.login %></td>
                        <td class="user-email for-PC-table td-update" ><%= user.email %></td>
                        <td class="user-date for-PC-table td-update"><%= user.date %></td>
                        <td class="user-image for-PC-table td-update">
                            <img class='user-image-update' src='images/profil/<%= user.image %>' style='width: 50px;' alt="Image de profil">
                            <input class="input display-none" type="file" name="image" accept="image/*" maxSize="5MB">
                        </td>
                        <td class="user-role td-update"><%= user.role %></td>
                        <td class="user-password td-update">
                            <span class="password-masked">••••••••</span>
                            <input class="password-input display-none" type="password" class="password-input display-none">
                        </td>
                            <%  if (locals.role !== 'superadmin' && (user.role === 'superadmin' || user.role === 'admin')){ %>
                        <td></td>
                    <% } else { %>
                        <td class="button-td">
                            <button class="edit-button-listUser" type="button" value="<%= user.id %>">Modifier</button>
                            <button class="save-button-listUser display-none" type="button">Valider</button>
                        </td>
                    <% } %>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <button class="listUsers-button delete-button" type="submit" class=deleteUsers>Supprimer les lignes sélectionnées</button>
    </form>

    <h2>Ajouter un nouveau membre manuellement</h2>
    <form class=form-addUser method="post" enctype="multipart/form-data"
    
    <%  if (rolebool===false){ %>
        action="/registerUsers" >
    <% } else { %>
        action="/registerRole">
    <% } %>
        <div>
            <label for="pseudo">Login : </label>
            <input type="text" name="pseudo" id="pseudo" required>
        </div>
        <div>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email" required>
        </div>
        <div>
            <label for="password">Mot de passe : </label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <label for="image">Image de profil (max 5 Mo) :</label>
            <input type="file" name="image" id="image" accept="image/*" maxSize="5MB">
        </div>
        
       <%  if (rolebool===true) { %>
                        
                    
        <div class="row">            
                <label for="role">Role : </label>
                <select name="role" id="role">
                    <option value="moderateur">Modérateur</option>
                    <option value="admin">Admin</option>
                    <option value="productmanager">Product Manager</option>
                    <option value="redacteur">Redacteur</option>
                        <%  if (locals.role === 'superadmin' ){ %>
                            <option value="superadmin">SuperAdmin</option>
                        <% } %>
                </select>
            </div>
            <% } %>
        <div>
            <button class=listUsers-button id="test" type="submit">Ajouter</button>
        </div>
    </form>

    <script src="/jsScript/listUsersScript.js"></script>
</main>
<%- include('footer') -%>
