<%- include('head') -%>
<%- include('header') -%>
<main class="login-main main-background">
    <h1>Connexion</h1>
    
    <% if (locals.message1) { %>
        <p class="registerValid valid"><%= locals.message1 %></p>
    <% } %>
    <% if (locals.message) { %>
        <p class="erreurLogin invalid"><%= message %></p>
    <% } %>
    
    <form method="post" action="/login">
        <div>
            <label for="identifiant">Pseudo ou adresse mail :</label>
            <input type="text" name="identifiant" id="identifiant" required>     
        </div>
        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" id="password" required>   
        </div>
        <div>
            <button type="submit">Connexion</button>
        </div>
    </form>
    
    <div class=inscriptionQuestion>
        <p>Vous n'avez pas encore de compte ?</p>
        <div>
            <button class="showInscriptionForm">Inscrivez-vous !</button></p>
        </div>
    </div>
    
    <form method="post" class="inscriptionForm display-none" enctype="multipart/form-data" action="/register">
        <div>
            <label for="pseudo">Pseudo :</label>
            <input type="text" name="pseudo" id="pseudo" required>     
        </div>
        <div>
            <label for="email">Email :</label>
            <input type="email" name="email" id="email" required>     
        </div>
        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" id="password" required>   
        </div>
        <div>
            <label for="image">Image de profil (max 5 Mo) :</label>
            <input type="file" name="image" id="image" accept="image/*" maxSize="5MB">
        </div>
        <div>
            <button type="submit">Inscription</button>
        </div>
    </form>
</main>

<script src="/jsScript/loginScript.js"></script>

<%- include('footer') -%>