<%- include('head') -%>
<%- include('header') -%>

<main>
    <h1>Mon profil</h1>

    <h2><%= profil[1] %></h2>
    <p>Email : <%= profil[0].email %></p>
    <p>Date de création : <%= profil[0].date %></p>
    <p>Role : <%= profil[0].role %></p>
    <p>Photo de profil : <img src='images/profil/<%=profil[0].image%>' style='width: 50px;'>
    
    
    
    <%  if (locals.role === 'admin' || locals.role === 'superadmin' ){ %>
        <p><a href="/listUsersRole">Gestion des utilisateurs avec des roles</a></p>
        <p><a href="/listUsers">Gestion des utilisateurs sans roles</a></p>
    <% } %>
    
    
    <a href="/deleteUser">Supprimer mon compte</a>
    <a href="/logout">Déconnexion</a>
</main>
<%- include('footer') -%>