<%- include('head') -%>
<%- include('header') -%>

<main class="profil-main main-background">
    <h1>Mon profil</h1>
    <div class=profil-info-ext>
        <h2>Mes informations :</h2>
        <%= console.log(profil) %>
        <div class=profil-info-int>
            <p>Pseudo : <span class="login"><%= profil.login %></span></p>
            <p>Email : <span class="email"><%= profil.email %></span></p>
            <p>Date de création : <%= profil.date %></p>
            <p>Role : <span class="role" data-role="<%= profil.role %>"><%= profil.role %></span></p>
            <p>Photo de profil : <span class="image"><img class="image-profil" src="images/profil/<%=profil.image%>"></span>
            <input class="inputImage display-none" type="file" name="image" accept="image/*">
            </p>
        </div>
        <button class="edit-button-profil" type="button" value="<%= profil.id %>">Modifier</button>
        <button class="save-button-profil display-none" type="button" data-id="<%= profil.id %>">Valider</button>
    </div>
    <%  if (locals.role === "superadmin" || locals.role === "admin"){ %>
        <div class="gestion-users">
            <button class="btn-gestion-users">Gestion des utilisateurs</button>
            <div class="choix-gestion-users">
                <a href="/listUsersRole">Avec rôles</a>
                <a href="/listUsers">Sans rôles</a>
            </div>
        </div>
    <% } %>
    <div class=put-bottom>
        <div class=gestion-compte>
            <a href="/deleteUser">Supprimer mon compte</a>
            <a href="/logout">Déconnexion</a>
        </div>
    </div>
</main>
<script src="/js/script/profil.js"></script>
<%- include('footer') -%>


