<%- include('head') -%>
<%- include('header') -%>
<main>
    
    <h1><%= salon.intitule %></h1>
    
    <%  if (locals.isLogged === true){ %>
        <div>
            <form method="post" action="/addMessage/<%=salon.id%>">
                <% if (!messages.length) {%>
                    <p>Soyez le premier à mettre un message</p>
                <% } else { %>
                    <p>Ajouter une réponse</p>
                <% } %>
                <textarea id="message" name="message"></textarea>
                <button>Envoyer le message.</button></p>
            </form>
        </div>
        <% } else { %>
            <p>Vous devez vous connecter pour écrire un message.</p>
            <a href=/login>Se connecter !</a>
        <% } %>
    
    
    <%for (const message of messages){%>
        <form method="post" action="/deleteMessage/<%=salon.id%>">
            <div>
                <p><%=message.login%></p>
                <p><%=message.date%></p>
                <p class="message"><%=message.message%></p>
            </div>
            <%  if (locals.role === "admin" || locals.role === "superadmin" || locals.role === "moderateur"){ %> 
                <button type=submit>Supprimer le message</button>
                <input type="hidden" class="display-none" name="id" value="<%= message.id %>">
            <% } %>
        </form>
        <%  if (locals.role === "admin" || locals.role === "superadmin" || locals.role === "moderateur"){ %> 
                <button class="edit-button" type=submit>Modifier le message</button>      
                <button class="save-button display-none" type=submit data-id='<%= message.id %>'>Valider</button>
        <% } %>
    <% } %>


<script>
    const editButton = document.querySelector('.edit-button');
    const saveButton = document.querySelector('.save-button');
    
    editButton.addEventListener('click', () => {
        const contenuMessage = document.querySelector('.message');
        const contenuMessageInput = document.createElement('input');
        contenuMessageInput.type = 'text';
        contenuMessageInput.value = contenuMessage.textContent;
        contenuMessage.textContent = '';
        contenuMessage.appendChild(contenuMessageInput);

        // Afficher le bouton "Valider" et masquer le bouton "Modifier"
        editButton.classList.add('display-none');
        editButton.classList.remove('display-block');
        saveButton.classList.add('display-block');
        saveButton.classList.remove('display-none');
    });
    
    saveButton.addEventListener('click', () => {
        
        const contenuMessageResult = document.querySelector('.message input');
        // Créer un objet FormData pour envoyer les données
        console.log(contenuMessageResult)
        const formData = new FormData();
        
        formData.append('id',saveButton.dataset.id);
        formData.append('message', contenuMessageResult.value);
        
        // Effectuer une requête fetch pour envoyer les données
        fetch('/updateMessage', {
            method: 'POST',
            body: formData
        })
        .then((response) => {
            console.log(response)
            if (response.redirected===true){
               window.location.href = response.url
            } else {
                return response.json()
                .then((data) => {
                        // Traitez la réponse du serveur (par exemple, affichez un message de succès)
                        console.log("Récupération réussie");
                        window.location.reload()
                    })
            }
        })
                    
                    .catch((error) => {
                        // Gérez les erreurs (par exemple, affichez un message d'erreur)
                        console.error('Erreur lors de la mise à jour :', error);
                    });

    });
    
    
    
</script>
</main>
<%- include('footer') -%>