<%- include('head') -%>
<%- include('header') -%>
<main class= "main-background">
    
    <h1><%= salon.intitule %></h1>
    
    <%  if (locals.isLogged === true){ %>
        <div>
            <form method="post" action="/addMessage/<%=salon.id%>">
                <% if (!messages.length) {%>
                    <p>Soyez le premier à mettre un message</p>
                <% } else { %>
                    <p>Ajouter une réponse</p>
                <% } %>
                <textarea id="message" name="message"></textarea>
                <button>Envoyer le message.</button></p>
            </form>
        </div>
        <% } else { %>
            <p>Vous devez vous connecter pour écrire un message.</p>
            <a href=/login>Se connecter !</a>
        <% } %>
    
    
    <%for (const message of messages){%>
        <form method="post" action="/deleteMessage/<%=salon.id%>">
            <div>
                <p><%=message.login%></p>
                <p><%=message.date%></p>
                <p class="message"><%=message.message%></p>
            </div>
            <%  if (locals.role === "admin" || locals.role === "superadmin" || locals.role === "moderateur"){ %> 
                <button type=submit>Supprimer le message</button>
                <input type="hidden" class="display-none" name="id" value="<%= message.id %>">
            <% } %>
        </form>
        <%  if (locals.role === "admin" || locals.role === "superadmin" || locals.role === "moderateur"){ %> 
                <button class="edit-button-salon" type=submit>Modifier le message</button>      
                <button class="save-button-salon display-none" type=submit data-id='<%= message.id %>'>Valider</button>
        <% } %>
    <% } %>



</main>
<script src="/js/script/salon.js"></script>
<%- include('footer') -%>